.table-card {
  margin-top: 20px;
  padding: 16px 16px 8px;
}

.table-wrapper {
  overflow: auto;
  margin-top: 16px;
}

.chart-card {
  min-height: 360px;
}

.chart-wrapper {
  height: 260px;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

mat-card-title {
  font-size: 1.1rem;
}
